#bottun{
	float:left;
	}
body{
    padding:0px;
    margin:0px;
    background: url("../images/background.jpg")
}



footer {
    margin-top:10px;
    padding:10px;
    text-align:center;
    border-top: 1px dashed brown;
    clear:both;
}

#bottun{
	top:300px;
	 margin:130px;
	}
	
#profile{
	top:90px;
	float:right;
	display: block;
	margin:150px; 
}

#goods {
 position: relative;
 margin-bottom: 150px;
 top:90px;
 float:center;
 left:200px;
}
#goods a {
 display: block; 
 }
a.goods-menu {
 border: 1px solid #777;
}
a.order {
 position: absolute;
}
a.order2 {
 position: relative;
}

#wrapper {
    background: url("../../images/hon.gif") ;
    position: absolute;
	margin-top;200px;
	left: 200px;
}

#content_left {
    height: 420px;
    left: 90px;
    position: absolute;
    top: 150px;
    width: 255px;    
}

#content_right {
    height: 420px;
    left: 350px;
    position: absolute;
    top: 150px;

}

.access{
	margin-left:500px:	
}	
