#whatsnew{
	position:relative;
}

#whatsnew_text{
	position:absolute;
	top:30px;
	left:10px;
}

#profile_text{
	position:absolute;
	top:250px;
}

#rogo{
	top:10px;
	position:absolute;
}

#content_title1{
	top:140px;
	left:200px;
    position: absolute;

}

#content_title2{
	top:140px;
	left:400px;
    position: absolute;

}

#content_title3{
	top:140px;
	left:600px;
    position: absolute;

}

#backtitle{
	 position:relative;
	 left:10px;
	 top:10px;
	 float:left;
}

#bottun{
	float:left;
	}
body{
    padding:0px;
    margin:0px;
    background: url("../images/background.jpg")
}



footer {
    margin-top:10px;
    padding:10px;
    text-align:center;
    border-top: 1px dashed brown;
    clear:both;
}

#bottun{
	 position:absolute;
	 left:200px;
	 top:250px;
	}
	
#profile{
	top:200px;
	float:right;
	width:250px;#éwíËÇµÇÎÇ¡ÇƒåæÇÌÇÍÇƒÇÈÇ©ÇÁÇ∆ÇËÇ†Ç¶Ç∏
	display: block;
	position:relative; 
}

#wrapper {
    background: url("../../images/hon.gif") ;
    position: absolute;
    top:250px;
	left: 100px;#200Å®100Ç…
	
}

#content_left {
    height: 420px;
    left: 90px;
    position: absolute;
    top: 110px;
    width: 240px;#255ÇæÇ∆é·ä±ïˆÇÍÇÈÇÃÇ≈240Ç…ÅB
}

#content_right {
    height: 420px;
    left: 350px;
    position: absolute;
    top: 110px;
    width: 250px;

}

#otoiawase{
	position:absolute;
	left:850px;
}

#access{
	position:relative;
	right:10px;
	top:100px;
}	
